<h1>Hello world!</h1>




<div id="container">
	<div>
		<h2>Automatic</h2>
		{{#each burger}}
			{{#if devouered}}

			{{else}}
			<p>{{burger}}</p>

			{{/if}}

		{{/each}}
	</div>


	<div>
		<h2>Manual</h2>
		{{#each items}}
			{{#if manual}}

			
			<p>{{name}}</p>
			{{else}}

			{{/if}}

		{{/each}}
	</div>
</div>
