<h1>Burgers</h1>



<div id="container">
    <div>
        <h2>Burgers that are not devoured!</h2>
        <ul>
            {{#each burgers}}
            {{#unless devouered}}
            {{> burgers/burgers-block devouered=true}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>


<div>
    <div>
        <h2>Burgers that are devoured!</h2>

        <ul>
            {{#each burgers}}
            {{#if devouered}}
            {{> burgers/burgers-block devouered=false}}
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

<h2>Add a burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ba">Burger Name:</label>
        <input type="text" id="ba" name="name">
    </div>



    <button type="submit">Add Burger</button>
</form>