{{!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    
  </div>
</div> --}}

<div class="image">
    <img src="assets/images/photo-1559249448-c4347516e963.jpeg" alt="burger">
</div>

<br><br>

<h1>Eat the Burger!</h1>

<br><br>



<div id="container">
    <div>
        <h2>Burgers that are NOT devoured:</h2>
        <ul>
            {{#each burger}}
            {{#unless devouered}}
            
            {{> burger-block }}
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div>
        <div>
            <h2>Burgers that are devoured:</h2>

            <ul>
                {{#each burger}}
                {{#if devouered}}
                <li>{{burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div id="formcontainer">
    <h2>Add a Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="ba">Burger Name:</label>
            <input type="text" id="ba" name="name">
        </div>
        <br>
<button type="submit" class="btn btn-outline-dark">Add Burger</button>
</div>



</form>

<br><br>